<div ng-controller="PresetListCtrl">
    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <th>Date created</th>
                <th></th>
            </tr>
            <tr ng-repeat="preset in presets">
                <td>
                    <a ng-href="#/simulation/{{preset.id}}">{{preset.name}}</a>
                </td>
                <td>
                    <p class="title_date_tr">{{preset.date | date}}</p>
                </td>
                <td class="text-right">
                    <button class="btn btn-danger" ng-click="deletePreset(preset.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>