@font-face {
  font-family:Avinor;
  src:url(../font/avinor-medium-webfont.eot);
  src:url(../font/avinor-medium-webfont.woff) format("woff"),url(../font/avinor-medium-webfont.ttf) format("truetype"),url(../font/avinor-medium-webfont.svg) format("svg");
  font-weight:400;
  font-style:normal;
}

@font-face {
  font-family:Avinor;
  src:url(../font/avinor-bold-webfont.eot);
  src:url(../font/avinor-bold-webfont.woff) format("woff"),url(../font/avinor-bold-webfont.ttf) format("truetype"),url(../font/avinor-bold-webfont.svg) format("svg");
  font-weight:700;
  font-style:normal;
}

@font-face {
  font-family:Avinor-light;
  src:url(../font/avinor-light-webfont.eot);
  src:url(../font/avinor-light-webfont.woff) format("woff"),url(../font/avinor-light-webfont.ttf) format("truetype"),url(../font/avinor-light-webfont.svg) format("svg");
  font-weight:100;
  font-style:normal;
}

h1 {
  font-size: 24px;
  font-family: "Avinor-bold";
  color: $header_bg;
}
h2 {
  font-size: 22px;
  font-family: "Avinor-bold";
  color: $header_bg;
}
h3 {
  font-size: 18px;
  font-family: "Avinor-bold";
  color: $header_bg;
}
h4 {
  font-size: 16px;
  font-family: "Avinor-bold";
  color: $header_bg;
}
h5 {
  font-size: 12px;
  font-family: "Avinor-bold";
  color: $header_bg;
}
h6 {
  font-size: 10px;
  font-family: "Avinor-bold";
  color: $header_bg;
}

p{
  font-size: 12px;
  font-family: arial, sans-serif ;
  color: $header_bg;
}

a {
  color: #84216b;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}