@import 'common';

.graph {
  margin: 0;
  padding: 0;
  overflow:hidden;
  @include user-select(none);
  background-color: rgb(248, 248, 248);

  $consumer_color: green;
  $producer_color: blue;
  $node_hover_color: grey;
  $node_selected: black;

  marker{
    fill: #333;
  }

  g.node circle           {  fill: red;  }
  g.node.producer circle  {  fill: $producer_color; }
  g.node.consumer circle  {  fill: $consumer_color; }
  g.node:hover circle     {  fill: $node_hover_color; }
  g.node.selected circle  {  stroke: $node_selected; stroke-width: 3px;  }

  path.link {
    fill: none;
    stroke: #333;
    stroke-width: 6px;
    cursor: default;
  }

  path.link:hover{
    stroke: rgb(94, 196, 204);
  }

  g.connect-node circle{
    fill: #BEFFFF;
  }

  path.link.hidden{
    stroke-width: 0;
  }

  path.link.selected {
    stroke: rgb(229, 172, 247);
  }
}