$fa-font-path : '../vendor/fontawesome/fonts';

$header_height: 100px;
$map_node_size: 40px;

/* COLOR VARIABLES */

/* Standard colors */

$black: #000;
$white: #FFF;
$yellow: #ffbb00;


/* Avinor color pallate */

$Avinor_LightPurple: #84216b;
$Avinor_DarkPurple: #471C62;
$Avinor_Black:  #1d1d1d;
$Avinor_Grey: #c6c8ca;
$Avinor_LightGrey:#f0f1f3;
$Avnor_Azure: #8ad8c5;
