@import 'font';
@import 'common';
@import 'reset';
@import 'variables';
@import '../vendor/fontawesome/scss/font-awesome';
// Elements
@import 'elements/graph';
@import 'elements/slider';
@import 'elements/radialmenu';
@import 'elements/progress-bar';
@import 'elements/tooltip';
@import 'elements/help-page';

body {
  min-height: 100%;
  margin-top: $header_height;
  margin-bottom: 50px;
  font-family: Avinor, sans-serif;
  background-color: $Avinor_LightGrey;
}

header {
  background: $Avinor_Black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $header_height;
  color: white;
  padding: 25px;
}

.modal-backdrop {
  position: fixed;
  bottom: 0;
}

.logo img {
  height: 50px;
  margin-left: -20px;
}

.tabMenu {
  margin-top: 20px;
  width: 100%;
  height: 60px;
}

.tabMenu ul {
  width: 100%;
  height: 60px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabMenu ul li {
  width: 200px;
  height: 100%;
  margin: 0px 10px 0px 0px;
  display: inline-block;
  background-color: $Avinor_Grey;
}

.tabMenu .active {
  background-color: $Avinor_LightPurple;
  color: white;
}

.tabMenu div {
  display: block;
  width: 100%;
  height: 100%;
  color: $Avinor_Black;
  font-family: "Avinor";
  font-size: 1.5em;
  text-align: center;
  line-height: 3;
}

.tabMenu div:hover {
  background-color: $Avinor_LightPurple;
  color: white;
  cursor: pointer;

}

footer {
  position: fixed;
  background: $Avinor_Black;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 10px 25px;
  z-index: 100;
}

footer p {
  padding-top: 10px;
  color: $Avinor_Grey;
}

.menu-field-name, .menu-field-button {
  font-size: 1.8em;
  font-weight: 100;
  margin-top: 10px;
  text-align: center;
}

.menu-field-name input {
  background: none;
  border: 0;
  text-align: center;
  color: $Avinor_Grey;
  border-bottom: 1px dashed $Avinor_Grey;
}

.menu-field-name input.disabled {
  display: none;
}

.menu-field-name:hover input, .menu-field-name input:focus {
  border-bottom: 1px dashed white;
  color: white;
}

.menu-field-button {
  cursor: pointer;
  color: $Avinor_Grey;
  margin-top: 10px;
  margin-right: 45px;
  position: relative;

  .fa {
    opacity: 0.5;
    @include transition(opacity, 0.2s, ease-in-out);
    color: $Avinor_Grey;
    font-size: 40px;
    display: block;
    position: absolute;
    right: -45px;
    top: 0px;
  }

  &:hover .fa {
    opacity: 1;
    @include transition(opacity, 0.2s, ease-in-out);
    color: white;
  }

  &:hover span:first-child {
    text-decoration: underline;
    color: white;
  }
}

.split-tabs {
  overflow: hidden;
  border: 1px solid #bbb;
  margin-top: 20px;
  & > div,
  & > ul {
    float: left;
    width: 50%;
    max-height: 300px;
    overflow: scroll;
  }
  & > ul {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    li {
      margin: 0;
      border-top: 1px solid #ddd;
      &:first-child {
        border-top: none;
      }
      a {
        border-radius: 0;
      }
    }
  }
  .tab-content {
    padding: 10px 20px;
  }
}

table {
  margin-bottom: 55px !important;
}

.table-equal-width {
  td,
  th {
    width: 50%;
    border-left: 1px solid #ddd;
    &:first-child {
      border-left: none;
    }
  }
}

.table th {
  font-size: 14px;
  font-family: "Avinor-bold";
  color: $Avinor_Black;
  padding-top: 20px !important;
}

.title_date_tr {
  display: inline-block;
  margin-top: 12px;
}

.mapImageWrapper {
  position: relative;
  overflow: hidden;
}

.mapImageWrapperFull {
  width: 1100px;
  min-height: 800px;
  overflow: hidden;

  img {
    transform-origin: top left;
  }
}

.close-icon {
  color: black;

  &:hover {
    text-decoration: none;
  }
}

.focused-form-wrapper {
  background: $Avinor_Black;
  padding: 10px 10px 0;
  border-radius: 4px;
}

.mapNode {
  width: $map_node_size;
  height: $map_node_size;
  position: absolute;
  border-radius: 50%;
  background-color: #842168;
  top: 50%;
  left: 50%;
  margin-top: $map_node_size * -0.5;
  margin-left: $map_node_size * -0.5;
  border: 3px solid rgba(white, 0.6);
}

/*BUTTON STYLES*/

.btn, .btn-default, .btn-danger, .btn-warning, .btn-info, .btn-primary {
  min-width: 80px;
  text-align: center;
  font-family: "Avinor";
  font-size: 14px;
  height: 40px;
  color: black;
  margin: 0px 10px 0px 0px;
  border: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  box-shadow: none;
}

.btn-default, .btn-primary {
  background-color: $Avinor_Grey;
}

.btn-default[disabled] {
  background-color: $Avinor_LightPurple;
  color: white;
}

.btn-danger {
  color: white;
}

.btn-icon {
  background: transparent;
  font-size: 40px;
  margin-top: -26px;
  margin-left: -20px;
  color: $Avinor_Grey;

  &.locked {
    color: black;
  }

}

//Buttons for the upload and removing of maps (Google style)
.btn-google-style {
  display: inline-block;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  color: #444;

  border: 1px solid #dcdcdc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  cursor: default;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  height: 40px;
  line-height: 27px;
  min-width: 40px;
  padding: 0 8px;
  text-decoration: none;
}

.btn-google-style:hover {
  background-color: #F8F8F8;
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  cursor: pointer;

  border: 1px solid #C6C6C6;
  color: #333;

  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
}

.btn-google-style:active {
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .3);
  -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .3);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .3);
  color: black;
}

//Rishabn google buttons: http://cssdeck.com/labs/google-buttons

//Fix for the hover effect on flash
.global-zeroclipboard-container:hover {
  background-color: $Avinor_Black;
  color: white;
  &:after {
    display: block;
    content: "Copy";
    position: absolute;
    top: 10px;
    left: 23px;
  }
}

.primary {
  background-color: $Avinor_LightPurple;
  color: white;
}

.secondary {
  background-color: $Avinor_Grey;
}

.btn-icon:hover {
  background: transparent !important;
  color: $Avinor_Black !important;
}

.btn:hover, .btn-default:hover, .btn-danger:hover, .btn-warning:hover {
  border: none;
  background-color: $Avinor_Black;
  color: white;
  box-shadow: none;
}

.modal-body .timepicker .btn:hover {
  color: $Avinor_LightPurple;
}

.modal-body .timepicker {
  margin-bottom: 10px !important;
  width: 100%;

  &.timepicker--tiny {

    .btn,
    tr:first-child,
    tr:nth-child( 3 ) {
      display: none;
    }
  }

  a {
    margin: 0;
  }

  .btn {
    height: 30px;
    min-width: 100%;
    margin: 0;

    &,
    &:hover {
      background: transparent;
      text-decoration: none;
    }
  }

  input {
    width: 100% !important;
    margin: 0;
  }

  td:nth-child( 2 ) {
    font-size: 22px;
  }
}

.multi-input-section {
  margin-top: 10px;
}

h1 {
  font-size: 24px;
  font-family: "Avinor-bold";
  color: $Avinor_Black;
}

h2 {
  font-size: 22px;
  font-family: "Avinor-bold";
  color: $Avinor_Black;
}

h3 {
  font-size: 18px;
  font-family: "Avinor-bold";
  color: $Avinor_Black;
}

h4 {
  font-size: 16px;
  font-family: "Avinor-bold";
  color: $Avinor_Black;
}

h5 {
  font-size: 12px;
  font-family: "Avinor-bold";
  color: $Avinor_Black;
}

h6 {
  font-size: 10px;
  font-family: "Avinor-bold";
  color: $Avinor_Black;
}

p {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: $Avinor_Black;
}

a {
  color: $Avinor_LightPurple;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: $Avinor_Black;
}

.circle {
  width: 35px;
  height: 35px;
  display: inline-block;
  border-radius: 50%;
}

.circle .fa {
  display: block;
  text-align: center;
  color: white;
  line-height: 2.5;
}

.circle .i {
  font-family: 'Avinor', sans-serif;
}

.purple {
  background-color: $Avinor_LightPurple;
}

.dark-purple {
  background-color: $Avinor_DarkPurple;
}

.azure {
  background-color: $Avinor_Azure;
}

.black {
  background-color: $Avinor_Black;
}

.modal-dialog.modal-lg {
  width: 500px;
}

/* MODAL */

.modal-content {
  border: none;
  border-radius: 0px;
}

.modal-header {
  text-align: center;
}

.modal-body .form-group {
  margin: 0px 0px 0px 0px;
}

.modal-body .form-control {
  margin: 0px 0px 10px 0px;
}

.modal-body .col-md-6.ng-binding {
  text-align: left;
}

.modal-footer {
  text-align: center;
}

.modal-header .modal-title {
  margin-top: 10px;
}

.modal-header .modal-title input {
  width: 100%;
  font-family: "Avinor-bold";
  font-size: 24px;
  text-align: center;
  color: $Avinor_Black;
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed $Avinor_Black;
}

.modal-body span {
  text-align: center;
  margin: auto;
  display: block;
  font-weight: bold;
}

.modal-body .vertical-scrollable {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.vertical-scrollable input {
  text-align: center;
}

.modal-body .container-fluid a {
  float: right;
  margin-right: 0px;
}

.modal-body .container-fluid a:hover {
  text-decoration: underline;
  color: $Avinor_LightPurple;
}

.copyModal {
  background-color: transparent;
}

.copyModal span {
  float: right;
  display: inline-block;;
  margin-right: 10px;
}

/*RESULT PAGE*/

.result-container {
  width: 100%;
  text-align: center;
}
/* Loading screen */

$squarew: 15px;
$squareh: 15px;
$squaremargin: 5px;
$loaderw: $squarew * 3 + $squaremargin *2;
$loaderh: $squareh * 3 + $squaremargin *2;
$delayenter: 0.3s;
$topenter: -10px;

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  transition: $value;
}

@mixin delay($delay) {
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  animation-delay: $delay;
}

@-webkit-keyframes enter {
  0% {
    opacity: 0;
    top: $topenter;
  }
  5% {
    opacity: 1;
    top: 0px;
  }
  50.9% {
    opacity: 1;
    top: 0px;
  }
  55.9% {
    opacity: 0;
    top: - $topenter;
  }
}

@keyframes enter {
  0% {
    opacity: 0;
    top: $topenter;
  }
  5% {
    opacity: 1;
    top: 0px;
  }
  50.9% {
    opacity: 1;
    top: 0px;
  }
  55.9% {
    opacity: 0;
    top: - $topenter;
  }
}

@-moz-keyframes enter {
  0% {
    opacity: 0;
    top: $topenter;
  }
  5% {
    opacity: 1;
    top: 0px;
  }
  50.9% {
    opacity: 1;
    top: 0px;
  }
  55.9% {
    opacity: 0;
    top: - $topenter;
  }
}

body {
  background: white;
}

* {
  margin: 0;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: - $loaderw / 2;
  margin-top: - $loaderh / 2;
}

.square {
  background: $Avinor_LightPurple;
  width: $squarew;
  height: $squareh;
  float: left;
  top: $topenter;
  margin-right: $squaremargin;
  margin-top: $squaremargin;
  position: relative;
  opacity: 0;
  -webkit-animation: enter 6s infinite;
  animation: enter 6s infinite;
}

.enter {
  top: 0px;
  opacity: 1;
}

.square:nth-child(1) {
  @include delay(6 * $delayenter);
}

.square:nth-child(2) {
  @include delay(7 * $delayenter);
}

.square:nth-child(3) {
  @include delay(8 * $delayenter);
  background: $yellow;
}

.square:nth-child(4) {
  @include delay(3 * $delayenter);
}

.square:nth-child(5) {
  @include delay(4 * $delayenter);
}

.square:nth-child(6) {
  @include delay(5 * $delayenter);
}

.square:nth-child(7) {
}

.square:nth-child(8) {
  @include delay(1 * $delayenter);
}

.square:nth-child(9) {
  @include delay(2 * $delayenter);
}

.clear {
  clear: both;
}

.last {
  margin-right: 0;
}

//Loading icon from: http://codepen.io/dghez/pen/Czuqn

//Overriding loading bar
.bar {
  background: $yellow !important;
  height: 5px !important;
}

#loading-bar .peg {
  -moz-box-shadow: $yellow 1px 0 20px 1px;
  -ms-box-shadow: $yellow 1px 0 20px 1px;
  -webkit-box-shadow: $yellow 1px 0 20px 1px;
  box-shadow: $yellow 1px 0 20px 1px;
  height: 5px !important;
}

//Margin fix for modals
.more-margin {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.quantity-field {
  width: 80px;
}

//Placement fix for upload link timetable
.margin-fix-upload-timetable {
  margin-right: 13px;
}

//Buttons on simulationpage
.button-container-simulation {

}

.button-container-simulation button {
  display: block;
}

// Placement of buttons in simulation new

.button-container-simulation {
  position: absolute;
  z-index: 10000;
  margin-top: 15px;
  right: 15px;
}

@media (min-width: 992px) {
  .modal-lg {
    width: 600px;
  }
}