<div class="container">
    <h1>Full documentation</h1>
    <p>Here you can find FAQ and instructions on how to use the simulation tool, and how the result works.</p>

    <h2>Simulations</h2>
    <p>In the simulations tab you can see a list of all previous simulation.
        Click on simulation name to view simulation results. You can also delete, edit, share and set password on the simulations .
    </p>

    <h2>Timetables</h2>
    <p>In the timetables tab you can see a list of all timetables .
        Click on timetable name to edit timetable. You can also create new timetables and delete them.
    </p>

    <h2>Locations</h2>
    <p>In the presets tab you can see a list of all locations. A location is a pre-defined simulation that you can run as is or edit to customize it.
        You can edit, delete or create a new location.
    </p>

    <h2>SETUP</h2>
    <p>Right click on the screen to add a new item. A popup for entering information for the unit/units
        will appear and you enter it and pres add then the unit will be added.
        To create a direction for the passengers to go, you click shift + drag
        from an item to another item. You will then be able to enter in how many percent of the passengeres
        that should walk in that direction.
    </p>

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="circle purple">
                <i class="fa fa-bus"></i>
            </div>
            <h5>Bus</h5>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="circle dark-purple">
                <i class="fa fa-desktop"></i>
            </div>
            <h5>Terminal</h5>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="circle azure">
                <i class="fa i">P</i>
            </div>
            <h5>Bus stop</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="circle purple">
                <i class="fa fa-train"></i>
            </div>
            <h5>Train</h5>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="circle dark-purple">
                <i class="fa flaticon-open203"></i>
            </div>
            <h5>Door</h5>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="circle">
                <i class="fa fa-long-arrow-right" style="color: #000;"></i>
            </div>
            <h5>Passengerflow</h5>
        </div>
    </div>
</div>