<div class="container">
    <h1>Full documentation</h1>
    <p>Here you can find information and instructions on how to use the simulation tool, and how the result works.</p>
    <h2>Table of Contents</h2>
    <!--Will fix into real toc-->
    <p>Simulations </br> Timetables </br> Locations </br> SETUP </br> Short Commands </br> Icons</p>

    <h3>Simulations</h3>
    <p>In the simulations tab you can see a list of all previous simulation.
        Click on simulation name to view simulation results. You can also delete, edit, share and set password on the simulations .
    </p>

    <h3>Timetables</h3>
    <p>In the timetables tab you can see a list of all timetables .
        Click on timetable name to edit timetable. You can also create new timetables and delete them.
    </p>

    <h3>Locations</h3>
    <p>In the presets tab you can see a list of all locations. A location is a pre-defined simulation that you can run as is or edit to customize it.
        You can edit, delete or create a new location.
    </p>

    <h3>SETUP</h3>
    <p>Right click on the screen to add a new item. A popup for entering information for the unit/units
        will appear and you enter it and pres add then the unit will be added.
        To create a direction for the passengers to go, you click shift + drag
        from an item to another item. You will then be able to enter in how many percent of the passengeres
        that should walk in that direction.
    </p>
    <h4>Short commands:</h4>
    <p>Drag a node to move it.
        Scroll too zoom working area, drag working area too move around.
        Click on a node or edge to select it.
        Click shift+backspace to delete selected edge / selected node and all connected edges.
        Shift+drag from one node to another to add an edge.
    </p>

    <h3>ICONS</h3>
    <div class="icon-container-documentation">
        <div class="row">
            <div class="col-sm-1">
                <div class="circle purple">
                    <i class="fa fa-bus"></i>
                </div>
                <h5>Bus</h5>
            </div>
            <div class="col-sm-1">
                <div class="circle dark-purple">
                    <i class="fa fa-desktop"></i>
                </div>
                <h5>Terminal</h5>
            </div>
            <div class="col-sm-1">
                <div class="circle azure">
                    <i class="fa i">P</i>
                </div>
                <h5>Bus stop</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <div class="circle purple">
                    <i class="fa fa-train"></i>
                </div>
                <h5>Train</h5>
            </div>
            <div class="col-sm-1">
                <div class="circle dark-purple">
                    <i class="fa flaticon-open203"></i>
                </div>
                <h5>Door</h5>
            </div>
            <div class="col-sm-1">
                <div class="circle">
                    <i class="fa fa-long-arrow-right" style="color: #000;"></i>
                </div>
                <h5>Passengerflow</h5>
            </div>
        </div>
    </div>
</div>