<div class="helpContainer" ng-controller="collapseController">

    <button class="btn btn-warning" ng-click="isCollapsed = !isCollapsed">Help</button>
    <hr>
    <div collapse="isCollapsed">
        <div class="well well-lg">
            <h4>Simulations:</h4>
            <p>In the simulations tab you can see a list of all previous simulation.
                Click on simulation name to edit simulation. You can also delete, compare and password protect your simulations.
            </p>
            <h4>Timetables:</h4>
            <p>In the timetables tab you can see a list of all timetables .
                Click on timetable name to edit timetable. You can also create new timetables and delete them..
            </p>
            <h4>Presets:</h4>
            <p>In the presets tab you can see a list of all presets. A preset is a pre-defined simulation that you can rub as is or edit to cuztomise it.
                Click on preset name to edit it. You can delete presets, but also save a new simulation as a preset.
            </p>
        </div>
    </div>
</div>