<div ng-include src="'templates/tabs.html'"></div>
<div class="row">
    <div class="jumbotron">
        <h1>Welcome to Hydra</h1>
        <p>Hydra is a web based simulation tool developed to simulate passengerflow and meassure traffic primarily directed at airports.
            It works by setting up an locations consisting of buses and/or trains that bring people to the location.
            You can then build your location by adding elements such as terminals, bagdrop, parking, doors and so on.
            When you build the location you will also define dependencies on your components that you can set the importance of.
           </p>
            <p>
            The tool also supports creating and importing timetables for trains and busess as csv format so you can easily add all the traffic arraiving the airport.
            Hydra is a very versatile simulation tool, and uses an custom simulation model to simulate passengerflow.
           </p>
        <p>
            for more information on how to use the tool please read the full documentation located in the help section.
        </p>
    </div>
</div>
<div ng-include src="'templates/help.html'"></div>