<div class="row">
    <div class="container-fluid">
        <h1>Welcome to HYDRA</h1>
        <p>HYDRA is a web-based simulation tool designed to analyse and simulate passengerflow at airports using a custom simulation algorithm.
        The solution consists in large of three different parts which are
            <a href="#/simulation">simulations</a>,
            <a href="#/timetable">timetables</a>
            and
            <a href="#/preset">locations</a>,
            The main purpose for HYDRA is to simulate passengerflow at the depature terminal of airports. The tool is developed alongside and for Avinor.
        </p>
            <div>
                <h2>Simulations</h2>
                <p>The simulation aspect of the application is it's core functionality. The aim is to give the user an easy and user-friendly way to create and manage simulations.
                We have created a really visual and easy way to create simulations based on locations gusing drag and drop and user friendly user input.
                </p>
            </div>
        <div>
            <h2>Timetables</h2>
            <p>
                One of the crucial parts of setting up a simulation is the timetables which is a fully editable list of different train and bus routes bringing people to your location. The user can easily create, upload or edit exsiting timetables.
            </p>
        </div>
        <div>
            <h2>Locations</h2>
            <p>The third part of the solution is locations which are pre-defined simulations that are ready to run as is or, can be edited as you choose.</p>
        </div>

    </div>
</div>