<div class="row" ng-controller="HomeCtrl">
    <div class="container-fluid home-container" >
        <div class="col-lg-6">
            <img src="../img/logo-black.svg" alt="logo">
            <div class="text-container">
            <h1>Welcome to HYDRA</h1>
            <p>HYDRA is a web based simulation tool created to simulatet passengerflow in airports.
                In the <a href="#/simulation">simulations tab</a> <i class="fa fa-2x fa-arrow-up"></i>  you can create and manage simulations.
                For more information about the solution and how to set up a simulation read the help section located at the bottom of the page.
                <i class="fa fa-2x fa-arrow-down"></i>
            </p>
            </div>
        </div>
    </div>
</div>