<div ng-controller="MapModalCtrl">

    <script type="text/ng-template" id="mapModal.html">

        <div class="modal-header">
            <div class="pull-right">
                <a href="" class="glyphicon glyphicon-remove close-icon" ng-click="cancel()"></a>
            </div>
            <span>Resize the map according to the size of the node</span>
        </div>
        <div class="modal-body">
            <div class="focused-form-wrapper">
                <div class="mapImageWrapper">
                    <img src="http://1.bp.blogspot.com/_au17kecZ280/TNwGt8PiP6I/AAAAAAAAFP8/lK-_VjYudzw/s1600/AvinorFlights_app.png"
                         alt="Map" style="width: 100%" ng-style="{
                         'transform': 'scale('+image.scale+')',
                         '-webkit-transform': 'scale('+image.scale+')',
                         '-ms-transform': 'scale('+image.scale+')'}">
                    <div class="mapNode"></div>
                </div>
                <input type='range' min='0' max='100' value='{{image.zoom}})' ng-model="image.zoom"/>
            </div>
        </div>
        <div class="modal-footer">
            <h5 class="pull-left">Zoom: {{image.zoom}}%</h5>
            <button class="btn btn-primary" ng-click="submitMap()" type="submit">Submit</button>
        </div>
    </script>
    <button class="btn btn-primary" ng-click="openMapModal()">Open modal</button>
</div>
<div ng-controller="MyUploadCtrl">
    <div class="btn btn-primary" ng-file-select ng-model="files">Upload picture</div>
</div>

<br/>
<h4>Image visible: {{image.visible}}</h4>
<button class="btn btn-primary" ng-click="toggleImage()" type="button" ng-disabled="!image.exists">Toggle image</button>
<button class="btn btn-danger" ng-click="deleteImage(image.id)" type="button" ng-disabled="!image.exists">Delete image</button>
<br/>
<img src="http://localhost:8080/hydra/api/map/{{image.id}}" alt="Map" width="500px" ng-show="image.visible">
<div class="mapImageWrapperFull">
    <img src="http://1.bp.blogspot.com/_au17kecZ280/TNwGt8PiP6I/AAAAAAAAFP8/lK-_VjYudzw/s1600/AvinorFlights_app.png"
         alt="Map" ng-style="{
                         'transform': 'scale('+image2.scale+')',
                         '-webkit-transform': 'scale('+image2.scale+')',
                         '-ms-transform': 'scale('+image2.scale+')'}">
</div>