<form novalidate ng-submit="submitPassword(password, repPassword)">
    <div class="modal-header">
        <h3>Change password</h3>
    </div>
    <div class="modal-body">
        <form novalidate>
            <div class="alert alert-danger" ng-show="passwordMismatch">
                Passwords doesn't match
            </div>
            <div class="form-group">
                <label for="password">Please enter new password</label>
                <input type='password' id="password" class="form-control" ng-model="password" focus-me="true"/>
                <label for="repPassword">Repeat password</label>
                <input type='password' id="repPassword" class="form-control" ng-model="repPassword"/>

                <div class="text-center">
                    <button class="btn btn-default" ng-click="deletePassword()">Remove password</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default primary" ng-click="submitPassword(password, repPassword)" type="submit">Submit
        </button>
        <button class="btn btn-default secondary" ng-click="cancel()">Cancel</button>
    </div>
</form>