<script type="text/ng-template" id="choosePreset.html">
    <div class="modal-header">
        <h1 class="modal-title">CHOOSE PRESET</h1>

        <p>A preset is a predefined simulation that can be run as is or modified to your liking.</p>
    </div>
    <div class="modal-body">
        <tabset vertical="true" type=pills>
            <tab ng-repeat="preset in presets" heading="{{preset.name}}" active="preset.active"></tab>
        </tabset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="loadPreset()" type="submit">Add</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>