<div class="modal-header">
    <h1 class="modal-title">CHOOSE PRESET</h1>

    <p>A preset is a predefined simulation that can be run as is or modified to your liking.</p>
</div>
<div class="modal-body">
    <label>Presets</label>
    <select class="form-control" ng-model="preset" ng-options="pre as pre.name for preset in presets"></select>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="loadPreset(preset)" type="submit">Select</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
