<div class="modal-header">
    <h1 class="modal-title" ng-controller="SimulationNewCtrl"> {{ modalTitle }} </h1>
</div>
<div class="modal-body">
    <form novalidate>
        <div class="form-group">
            <label>Time to process</label>
            <input type="number" class="form-control" ng-model="amountOfTime" min="0">
            <select class="form-control ng-prestine ng-valid" ng-init="timeSelectConsumer.item = options[0]" ng-model="timeSelectConsumer.item" ng-options="opt as opt.label for opt in options"></select>
        </div>
    </form>
    <div class="modal-footer">
        <button class="btn btn-default"
                ng-click="submitConsumer(amountOfTime, timeSelectConsumer)" type="submit">
            Submit
        </button>
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
</div>
