<div class="modal-header">
    <h1 class="modal-title" ng-controller="SimulationNewCtrl"> {{ modalTitle }} </h1>
</div>
<div class="modal-body">
    <form novalidate>
        <label>Timetable</label>
        <select class="form-control" ng-model="selectedItem" ng-options="timetable.id as timetable.name for timetable in timetables">
        </select>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default primary" ng-click="submitProducer(selectedItem)" type="submit">Add</button>
    <button class="btn btn-default secondary" ng-click="cancel()">Cancel</button>
</div>
