<form novalidate name="newProducer">
<div class="modal-header">
    <h1 class="modal-title"> {{ modalTitle }} </h1>
</div>
<div class="modal-body">
        <label>Timetable</label>
        <select  class="form-control" placeholder="Choose a timetable" ng-model="selectedItem"
                 ng-options="timetable.id as timetable.name for timetable in timetables"
                 required focus-me="true">
        <option value="" selected disabled>Choose a timetable</option>
        </select>
</div>
<div class="modal-footer">
    <button class="btn btn-default primary"
            ng-click="submitProducer(selectedItem)" type="submit"
            ng-disabled="newProducer.$invalid">Add</button>
    <button class="btn btn-default secondary" ng-click="cancel()">Cancel</button>
</div>
</form>