<div class="modal-header">
    <h1 class="modal-title">NEW PASSENGERFLOW</h1>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label>Total number of persons</label>
            <input type="number" class="form-control" min="0" ng-model="numberOfPassengers">
        </div>
        <div class="form-group">
            <label>Amount of passengers</label>
            <input type="number" class="form-control" ng-model="timeBetweenArrivals" min="0">
            <label>Per</label>
            <select class="form-control" ng-model="timeSelect.item" ng-options="opt as opt.label for opt in options">
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
            ng-click="submitPassengerflow(numberOfPassengers, timeBetweenArrivals, timeSelect)"
            type="submit">Submit
    </button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</div>
