<div class="modal-header">
    <h1 class="modal-title">NEW PEOPLE</h1>
</div>
<div class="modal-body">
    <form novalidate name="newPassengerflow">
        <div class="form-group">
            <label>Persons per arrival</label>
            <input type="number" class="form-control" min="0" ng-model="numberOfEntities" required>
        </div>
        <div class="form-group">
            <label>Time between arrivals</label>
            <input type="number" class="form-control" ng-model="timeBetweenArrivals" min="0" required>
            <select class="form-control" ng-init="timeSelect.item = options[0]" ng-model="timeSelect.item" ng-options="opt as opt.label for opt in options">
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default primary"
            ng-click="submitPassengerflow(totalNumberOfEntities, numberOfEntities, timeBetweenArrivals, timeSelect)"
            type="submit" ng-disabled="newPassengerflow.$invalid" >Add
    </button>
    <button class="btn btn-default secondary" ng-click="cancel()">Cancel</button>
</div>
</div>
