<div class="modal-header">
    <h3>Please enter password</h3>
</div>
<div class="modal-body">
    <form novalidate>
        <div class="form-group" style="max-width: 400px; margin: 0 auto">
            <label for="simulationPassword">This simulation is protected by a password. To access the simulation,
                please enter the password below.</label>
            <div class="alert alert-danger" ng-show="wrongPassword">
                Password incorrect
            </div>
            <input type='password' id="simulationPassword" class="form-control" ng-model="simulationPassword" focus-me="true"/>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default primary" ng-click="submitPassword(simulationPassword)" type="submit">Submit</button>
    <button class="btn btn-default secondary" ng-click="cancel()">Cancel</button>
</div>