<div class="modal-header">
    <h1 class="modal-tittle">SHARE SIMULATION</h1>
</div>
<div class="modal-body">
    <input class="form-control copy" type="text" ng-model="message" focus-me="true"/>
</div>
<div class="modal-footer">
    <button class="btn btn-default primary" ng-click="copySimulation()"
            ui-zeroclip
            zeroclip-copied="complete($event)"
            zeroclip-on-error="clipError($event)"
            zeroclip-model="message">Copy</button>
    <button class="btn btn-default secondary" ng-click="cancel()">Cancel</button>
</div>