<form novalidate name="uploadTimetable" ng-submit="confirm()">
<div class="modal-header">
    <h3>Upload timetable</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="name">Name</label>
        <input type='text' id="name" class="form-control" ng-model="name" focus-me="true" required/>
    </div>
    <input type="file" ngf-select ng-model="file" required>
</div>
<div class="modal-footer">
    <button class="btn btn-default primary" ng-click="confirm()" ng-disabled="uploadTimetable.$invalid">Upload</button>
    <button class="btn btn-default secondary" ng-click="cancel()">Cancel</button>
</div>
</form>