<div ng-controller="TimetableListCtrl">
    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <th><a href="#" class="margin-fix-upload-timetable pull-right">Upload timetable</a></th>
            </tr>
            <tr ng-repeat="timetable in timetables">
                <td>
                    <a ng-href="#/timetable/{{timetable.id}}/">{{timetable.name}}</a>
                </td>
                <td class="text-right">
                    <button class="btn btn-danger" ng-click="deleteTimetable(timetable.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>