<form name="newTimetable" novalidate="true">
    <div class="modal-header">
        <h1 class="modal-title">
            <input type="text"  placeholder="Name" ng-model="name" required="" focus-me="true"/>
        </h1>
        <p>You have to enter a name to the timetable before you can add it.</p>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="vertical-scrollable">
            <div class="row">
                <div class="col-md-6"><span>Arrival</span></div>
                <div class="col-md-6"><span>Passengers</span></div>
            </div>
            <div class="multi-input-section">
                <div class="row" ng-repeat="arrival in arrivals">
                    <div class="col-md-6">
                        <timepicker class="timepicker timepicker--tiny" id="arrivalTime" ng-model="arrival.time" show-meridian="false"></timepicker>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control text-center" ng-model="arrival.passengers"/>
                    </div>
                </div>
            </div>
            </div>
            <div class="row text-center" style="margin-top: 30px">
                <div class="col-md-6">Arrivals: {{arrivals.length}}</span></div>
                <div class="col-md-6"><a href="" ng-click="addLine()">New line</a></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default primary" ng-click="ok()" type="submit" ng-disabled="newTimetable.$invalid" >{{btnName}}</button>
        <button class="btn btn-default secondary" ng-click="cancel()">Cancel</button>
    </div>
</form>