test tooltip
<div ng-controller="TooltipTestCtrl">
    <div class="custom-tooltip"></div>
    <button class="btn-default" type="submit" ng-click="open('inner-tooltip-producer.html', '200', '500')">Test Timetables</button>
    <button class="btn-default" type="submit" ng-click="open('inner-tooltip-passengerflow.html', '300', '500')">Test Passengerflow</button>
    <button class="btn-default" type="submit" ng-click="open('inner-tooltip-consumer.html', '400', '500')">Test consumer </button>
</div>
