<graph
        nodes="ctrl.simulation.nodes"
        edges="ctrl.simulation.relationships"
        height="500px"
        extra-border="ctrl.extraBorder()"
        control="ctrl.control"
        background="ctrl.simulation.map">
</graph>

<h3 class="text-center">
    {{ctrl.progressTime() | TicksToTime: 'hh:MM:SS' }}
</h3>

<timeline
        start-time="ctrl.simulation.startTick"
        end-time="ctrl.simulation.startTick + ctrl.simulation.ticks"
        max="ctrl.totalSteps"
        position="ctrl.progress">
</timeline>