<div class="row">
    <graph
            class="fillBody"
            nodes="ctrl.simulation.nodes"
            edges="ctrl.simulation.relationships"
            extra-border="ctrl.extraBorder()"
            extra-tooltip="ctrl.extraTooltip()"
            control="ctrl.control"
            background="ctrl.simulation.map">
        <timeline
                class="bottom"
                start-time="ctrl.simulation.startTick"
                end-time="ctrl.simulation.startTick + ctrl.simulation.ticks"
                current-time="ctrl.simulation.startTick + ctrl.simulation.ticks / ctrl.simulation.tickBreakpoints * ctrl.progress"
                max="ctrl.totalSteps"
                position="ctrl.progress">
        </timeline>
    </graph>
</div>