<div ng-controller="SimulationController">
    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <th>Date created</th>
                <th>Delete</th>
            </tr>
            <tr ng-repeat="simulation in simulations">
                <td>
                    {{simulation.name}}
                </td>
                <td>
                    {{simulation.date | date}}
                </td>
                <td>
                    <button class="btn btn-danger" ng-click="deleteSimulation(simulation.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>