<div class="container-fluid loadingscreen-container">
    <div class="row">
        <h1>CALCULATING SIMULATION</h1>
    </div>
    <div class="row">
        <div class="loader">
            <div class="square" ></div>
            <div class="square"></div>
            <div class="square last"></div>
            <div class="square clear"></div>
            <div class="square"></div>
            <div class="square last"></div>
            <div class="square clear"></div>
            <div class="square "></div>
            <div class="square last"></div>
        </div>
    </div>
</div>