<script type="text/ng-template" id="configModal.html">
    <div class="modal-body">
        <form novalidate>
            <div class="form-group">
                <h3>Simulation Duration</h3>
                <br/>
                <label for="days">Days</label>
                <input type="number" id="days" class="form-control" ng-model="days" min="0"/>
                <label for="hours">Hours</label>
                <input type="number" id="hours" class="form-control" ng-model="hours" min="0"/>
                <label for="minutes">Minutes</label>
                <input type="number" id="minutes" class="form-control" ng-model="minutes" min="0"/>
            </div>
        </form>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="submitConfig(days, hours, minutes)" type="submit">Submit</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="newConsumer.html">
    <div class="modal-header">
        <h1>NEW CONSUMER</h1>
    </div>
    <div class="modal-body">
        <form novalidate>
            <div class="form-group">
                <label for="ticksToConsumeEntities">Persons processed</label>
                <input type="number" id="ticksToConsumeEntities" class="form-control" ng-model="ticksToConsumeEntities"
                       min="0"/>
            </div>
            <div class="form-group">
                <label>Time to process</label>
                <input type="number" class="form-control" ng-model="amountOfTime" min="0">
                <select class="form-control" ng-model="timeSelectConsumer">
                    <option value="seconds">Second</option>
                    <option value="minutes">Minutes</option>
                    <option value="hours">Hours</option>
                </select>
            </div>
            <div class="form-group">
                <label>Number of {{modalTitle}}</label>
                <input type="number" class="form-control" ng-model="numberOfDoors">
            </div>
        </form>
        <div class="modal-footer">
            <button class="btn btn-primary"
                    ng-click="submitConsumer(ticksToConsumeEntities, amountOfTime, timeSelectConsumer)" type="submit">
                Submit
            </button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="newConsumerGroup.html">
    <div class="modal-header">
        <h1>NEW CONSUMER GROUP</h1>
    </div>
    <div class="modal-body">
        <form novalidate>
            <div class="form-group">
                <label for="consumerGroupName">Group name:</label>
                <input id="consumerGroupName" class="form-control" ng-model="consumerGroupName"/>
            </div>
            <div class="form-group">
                <label for="numberOfConsumersInGroup">Number of consumers</label>
                <input id="numberOfConsumersInGroup" class="form-control" ng-model="numberOfConsumersInGroup">
            </div>
            <div class="form-group">
                <label for="ticksToConsumeEntitiesGroup">Number of ticks to consume entities</label>
                <input id="ticksToConsumeEntitiesGroup" class="form-control" ng-model="ticksToConsumeEntitiesGroup">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="modal-footer">
            <button class="btn btn-primary"
                    ng-click="submitConsumerGroup(consumerGroupName, numberOfConsumersInGroup, ticksToConsumeEntitiesGroup)"
                    type="submit">Submit
            </button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="newProducer.html">
    <div class="modal-header">
        <h1>NEW PRODUCER</h1>
    </div>
    <div class="modal-body">
        <form>
            <label>Timetable</label>
            <select class="form-control" ng-model="selectedItem">
                <option ng-repeat="timetable in timetables" value="{{timetable.id}}">
                    {{timetable.name}}
                </option>
            </select>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary"
                ng-click="submitProducer(entitesToProduce, startTickForProducer, timeBetweenBuses)" type="submit">Submit
        </button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
<script type="text/ng-template" id="newPassengerflow.html">
    <div class="modal-header">
        <h1>NEW PASSENGERFLOW</h1>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label>Number of passengers</label>
                <input type="number" class="form-control" min="0" ng-modell="numberOfPassengers">
            </div>
            <div class="form-group">
                <label>Amount of people</label>
                <input type="number" class="form-control" ng-model="amountOfTimePassengerflow" min="0">
                <label>Per</label>
                <select class="form-control" ng-model="timeSelectPassengerflow">
                    <option value="seconds">Second</option>
                    <option value="minutes">Minutes</option>
                    <option value="hours">Hours</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary"
                ng-click="submitPassengerflow(numberOfPassengers, amountOfTimePassengerflow, timeSelectPassengerflow)"
                type="submit">Submit
        </button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
    </div>
</script>
<script type="text/ng-template" id="choosePreset.html">
    <div class="modal-header">
        <h1>CHOOSE PRESET</h1>

        <p>A preset is a predefined simulation that can be run as is or modified to your liking.</p>
    </div>
    <div class="modal-body">
        <tabset vertical="true" type=pills>
            <tab ng-repeat="preset in presets" heading="{{preset.name}}" active="preset.active"></tab>
        </tabset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="loadPreset()" type="submit">Add</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<button class="btn btn-default" ng-click="openConfigModal()">Configure simulation</button>
<button class="btn btn-default" ng-click="newConsumerGroup('sm')">Add Consumer-Group</button>
<button class="btn btn-default" ng-click="addData()">Add</button>
<button class="btn btn-default" ng-click="choosePreset('sm')">Choose Preset</button>

<p>{{ticksToConsumeEntitiesList.length}} consumers, {{consumerGroupNames.length}} consumer-groups,
    {{timetableIds.length}} producers, {{ticks}} ticks</p>

<graph nodes="dataset.nodes" edges="dataset.edges" height="500px">

</graph>

<p>Drag a node to move it. Click on a node and click shift+backspace to delete it and all connected edges. Click on an
    edge and click shift+backspace to delete it.</p>

<nav class="circular-menu" ng-controller="radialMenuController">
    <div class="outer-circle">
        <div class="circle purple">
            <a ng-click="newProducer('sm')" class="fa fa-2x fa-train"></a>
        </div>
        <div class="circle purple">
            <a ng-click="newProducer('sm')" class="fa fa-2x fa-bus"></a>
        </div>
        <div class="circle dark-purple">
            <a ng-click="newConsumer('sm')" class="fa fa-2x fa-desktop"></a>
        </div>
        <div class="circle dark-purple">
            <a ng-click="newConsumer('sm')" class="fa fa-2x fa-arrows-h"></a>
        </div>
        <div class="circle black">
            <a ng-click="newPassengerflow('sm')" class="fa fa-2x fa-users"></a>
        </div>
        <div class="circle azure">
            <a href="#"><i class="fa fa-2x i">P</i></a>
        </div>
    </div>
    <a href="" class="menu-button fa fa-close fa-4x"></a>
</nav>
<div ng-include src="'templates/help-simulation.html'"></div>