<div>
    <h1>Set up your simulation</h1>

    <form class="form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                <h2>Producers</h2>
            </div>
            <div class="col-lg-6">Time between buses</div>
            <div class="col-lg-6">
                <input type="text" class="form-control" ng-model="timeBetweenBuses"/>
            </div>
            <div class="col-lg-6">Entities to produce</div>
            <div class="col-lg-6">
                <input type="text" class="form-control" ng-model="entitesToProduce"/>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2>Consumers</h2>
            </div>
            <div class="col-lg-6">
                <span>Number of entrances</span>
            </div>
            <div class="col-lg-6">
                <input type="text" class="form-control" ng-model="numberOfEntrances"/>
            </div>
            <div class="col-lg-6">Entites Consumed Per Tick</div>
            <div class="col-lg-6">
                <input type="text" class="form-control" ng-model="entitesConsumedPerTick"/>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3>Time the simulation will run</h3>
            </div>
            <div class="col-lg-1">Days</div>
            <div class="col-lg-3">
                <input type="text" class="form-control" ng-model="days" />
            </div>
            <div class="col-lg-1">Hours</div>
            <div class="col-lg-3">
                    <input type="text" class="form-control" ng-model="hours" />
            </div>
            <div class="col-lg-1">Minutes</div>
            <div class="col-lg-3">
                    <input type="text" class="form-control" ng-model="minutes" />
            </div>
        </div>
    </form>
</div>