<nav class="circular-menu" ng-controller="RadialMenuController">
    <div class="outer-circle">
        <div class="circle purple">
            <a ng-click="newProducer('train')" class="fa fa-2x fa-train"></a>
        </div>
        <div class="circle purple">
            <a ng-click="newProducer('bus')" class="fa fa-2x fa-bus"></a>
        </div>
        <div class="circle dark-purple">
            <a ng-click="newConsumer('terminal')" class="fa fa-2x fa-desktop"></a>
        </div>
        <div class="circle dark-purple">
            <a ng-click="newConsumer('door')" class="fa fa-2x fa-arrows-h"></a>
        </div>
        <div class="circle black">
            <a ng-click="newPassengerflow()" class="fa fa-2x fa-users"></a>
        </div>
        <div class="circle azure">
            <a href="#"><i class="fa fa-2x i">P</i></a>
        </div>
    </div>
    <a class="menu-button fa fa-close fa-4x"></a>
</nav>