<nav class="circular-menu" ng-controller="RadialMenuCtrl">
    <div class="outer-circle">
        <div class="circle purple">
            <a ng-click="newProducer('NEW TRAIN')" class="fa fa-2x fa-train"></a>
        </div>
        <div class="circle purple">
            <a ng-click="newProducer('NEW BUS')" class="fa fa-2x fa-bus"></a>
        </div>
        <div class="circle dark-purple">
            <a ng-click="newConsumer('NEW TERMINAL')" class="fa fa-2x fa-desktop"></a>
        </div>
        <div class="circle dark-purple">
            <a ng-click="newConsumer('NEW DOOR')" class="fa fa-2x fa-arrows-h"></a>
        </div>
        <div class="circle dark-purple">
            <a ng-click="newConsumer('NEW BAGDROP')" class="fa fa-2x fa-suitcase"></a>
        </div>
        <div class="circle black">
            <a ng-click="newPassengerflow()" class="fa fa-2x fa-users"></a>
        </div>
        <div class="circle azure">
            <a><i class="fa fa-2x i">P</i></a>
        </div>
    </div>
    <a class="menu-button fa fa-close fa-4x"></a>
</nav>