<form ng-controller="SimulationProgressCtrl" class="progressBar" style="margin: 10px">
    <p class="labels">
        {{startTime.toLocaleTimeString()}}
        <span style="float: right">{{endTime.toLocaleTimeString()}}</span>
    </p>
    <input type="range" name="points" min="{{startTime}}" max="{{endTime}}" step="{{steps}}" ng-model="progress.position">

    <div class="progressButtons">
        <span class="fa fa-backward" ng-click="backward()"></span>
        <span class="fa fa-pause" ng-click="pause()"></span>
        <span class="fa fa-forward" ng-click="forward()"></span>
    </div>

    <p>Nodedata for node 0:</p>
    <p>{{nodeData}}</p>
</form>
