@import '../variables';
@import '../font';

body {
  min-height: 100%;
  margin-top: $header_height;
  margin-bottom: 50px;
  background-color: $Avinor_LightGrey;
}

.fillBody {
  height: calc(100vh - 160px);
}

.bottom {
  position:absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}