/*BUTTON STYLES*/

.btn, .btn-default, .btn-danger, .btn-warning, .btn-info, .btn-primary {
  min-width: 80px;
  text-align: center;
  font-family: "Avinor";
  font-size: 14px;
  height: 40px;
  color: black;
  margin: 0px 10px 0px 0px;
  border: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  box-shadow: none;
}

.btn-default, .btn-primary {
  background-color: $Avinor_Grey;
}

.btn-default[disabled] {
  background-color: $Avinor_LightPurple;
  color: white;
}

.btn-danger {
  color: white;
}

.btn-icon {
  background: transparent;
  font-size: 40px;
  margin-top: -26px;
  margin-left: -20px;
  color: $Avinor_Grey;

  &.locked {
    color: black;
  }

}

//Buttons for the upload and removing of maps (Google style)
.btn-google-style {
  display: inline-block;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  color: #444;

  border: 1px solid #dcdcdc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  cursor: default;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  height: 40px;
  line-height: 27px;
  min-width: 40px;
  padding: 0 8px;
  text-decoration: none;
}

.btn-google-style:hover {
  background-color: #F8F8F8;
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  cursor: pointer;

  border: 1px solid #C6C6C6;
  color: #333;

  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
}

.btn-google-style:active {
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .3);
  -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .3);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .3);
  color: black;
}

//Rishabn google buttons: http://cssdeck.com/labs/google-buttons

//Fix for the hover effect on flash
.global-zeroclipboard-container:hover {
  background-color: $Avinor_Black;
  color: white;
  &:after {
    display: block;
    content: "Copy";
    position: absolute;
    top: 10px;
    left: 23px;
  }
}

.primary {
  background-color: $Avinor_LightPurple;
  color: white;
}

.secondary {
  background-color: $Avinor_Grey;
}

.btn-icon:hover {
  background: transparent !important;
  color: $Avinor_Black !important;
}

.btn:hover, .btn-default:hover, .btn-danger:hover, .btn-warning:hover {
  border: none;
  background-color: $Avinor_Black;
  color: white;
  box-shadow: none;
}

//Buttons on simulationpage
.button-container-simulation button {
  display: block;
}

// Placement of buttons in simulation new

.button-container-simulation {
  position: absolute;
  z-index: 10000;
  margin-top: 15px;
  right: 15px;
}

@media (min-width: 992px) {
  .modal-lg {
    width: 600px;
  }
}