@import 'common';

.graph {
  margin: 0;
  padding: 0;
  @include user-select(none);
  background-color: rgb(248, 248, 248);
  position: relative;

  $consumer_color:rgb(71, 28, 89);
  $producer_color: rgb(132, 35, 107);
  $node_hover_color: grey;
  $node_selected: black;
  $node_parking_color: #8ad8c5;

  marker{
    fill: #333;
  }

  .node.producer circle,
  .node.train circle,
  .node.bus circle       {  fill: $producer_color; }

  .node.consumer circle,
  .node.desktop circle,
  .node.door circle,
  .node.suitcase circle  {  fill: $consumer_color; }

  .node.parking circle   {  fill: $node_parking_color; }

  .node:hover circle     {  fill: $node_hover_color; }
  .node.selected circle  {  stroke: $node_selected; stroke-width: 3px;  }

  .link {
    fill: none;
    stroke: #333;
    stroke-width: 6px;
  }

  .link:hover{
    stroke: rgb(94, 196, 204);
  }

  g.connect-node circle{
    fill: #BEFFFF;
  }

  .link.hidden{
    stroke-width: 0;
  }

  .link.selected {
    stroke: rgb(229, 172, 247);
  }

  .node, .link {
    cursor: pointer;
  }
}