.progressBar {
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none !important;
  background-color: #84216b;
  opacity: 1;
  }

  .midwayPoint
  {
    width: 10px;
    height: 20px;
  }

  .labels
  {
    font-weight: bold;
  }
