$theme-bg: #333;
$theme-base: #5c5c5c;
$theme-hl: #a3e7d6;
$theme-txt: #fff;


$track-w: 20em;
$track-h: .25em;
$track-pad: $track-h/2;

$input-h: 5em;
$thumb-d: 1.5em;

$input-w: $track-w + $track-h + $thumb-d;

@mixin track() {
  border: none;
  padding: 0 $track-h/2;
  width: $track-w; height: $track-h;
  border-radius: $track-h/2;
  background: $theme-base;
}

@mixin thumb() {
  box-sizing: border-box;
  border: solid .25em $theme-bg;
  width: $thumb-d; height: $thumb-d;
  border-radius: 50%;
  background: $theme-base;
  transition: .3s;
}


input[type='range'] {

  &,
  &::-webkit-slider-runnable-track,
  &::-webkit-slider-thumb {
    -webkit-appearance: none
  }

  width: 100%;
  padding: 0;
  height: $input-h;
  //box-shadow: 0 0 .125em lime;
  background: transparent;
  font-size: 16px;
  cursor: pointer;

  &::-webkit-slider-runnable-track {
    margin: 0 $thumb-d/2;
    @include track();
  }
  &::-moz-range-track {
    @include track();
  }

  &::-webkit-slider-thumb {
    margin-top: ($track-h - $thumb-d)/2;
    @include thumb();
  }
  &::-moz-range-thumb {
    @include thumb();
    cursor: ew-resize;
  }
}