.overlay {
  position: absolute;
  z-index: 999;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
}

.active-section {
  position: relative;
  z-index: 9999;
}

.window {
  // Important because of bad code elsewhere
  width: 200px !important;
  height: auto !important;
  line-height: 1.6 !important;
  background: white;
  position: absolute;
  z-index: 99999;
  padding: 20px;
  top: 60px;
  margin: 40px 0px 40px 0px ;

  &:hover {
    background: white !important; // is still white
    color: black !important; // is still black
  }
}

.window:before{
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 10px solid transparent;
  border-top-color: white;
  bottom: 100%;
  left: 50%;
  margin-left: -15px;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.hidden {
  display: none;
}

.close-button {
  position: absolute;
  top: 6px;
  right: 8px;
  text-decoration: none;
  font-size: 20px;
}