@import '../variables';
@import '../font';

//
// TODO: organize this into separate `elements` files
//

body {
  min-height: 100%;
  margin-top: $header_height;
  margin-bottom: 50px;
  background-color: $Avinor_LightGrey;
}

/* Table on frontpage */
table {
  margin-bottom: 55px !important;
}

.table-equal-width {
  td,
  th {
    width: 50%;
    border-left: 1px solid #ddd;
    &:first-child {
      border-left: none;
    }
  }
}

.table th {
  font-size: 14px;
  font-family: "Avinor-bold";
  color: $Avinor_Black;
  padding-top: 20px !important;
}

.title_date_tr {
  display: inline-block;
  margin-top: 12px;
}

/* Map for uploading*/
.mapImageWrapper {
  position: relative;
  overflow: hidden;
}

.mapImageWrapperFull {
  width: 1100px;
  min-height: 800px;
  overflow: hidden;

  img {
    transform-origin: top left;
  }
}

.close-icon {
  color: black;

  &:hover {
    text-decoration: none;
  }
}

.focused-form-wrapper {
  background: $Avinor_Black;
  padding: 10px 10px 0;
  border-radius: 4px;
}

.mapNode {
  width: $map_node_size;
  height: $map_node_size;
  position: absolute;
  border-radius: 50%;
  background-color: #842168;
  top: 50%;
  left: 50%;
  margin-top: $map_node_size * -0.5;
  margin-left: $map_node_size * -0.5;
  border: 3px solid rgba(white, 0.6);
}


.circle {
  width: 35px;
  height: 35px;
  display: inline-block;
  border-radius: 50%;
}

.circle .fa {
  display: block;
  text-align: center;
  color: white;
  line-height: 2.5;
}

.circle .i {
  font-family: 'Avinor', sans-serif;
}

.purple {
  background-color: $Avinor_LightPurple;
}

.dark-purple {
  background-color: $Avinor_DarkPurple;
}

.azure {
  background-color: $Avinor_Azure;
}

.black {
  background-color: $Avinor_Black;
}

/*RESULT PAGE*/

.result-container {
  width: 100%;
  text-align: center;
}

//Placement fix for upload link timetable
.margin-fix-upload-timetable {
  margin-right: 13px;
}
